footer {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
}

.footer-container {
  width: 95%;
  height: 100%;
  background-image: url("https://projects.synergynexa.com/ps/wp-content/uploads/2025/07/WhatsApp-Image-2025-05-26-at-4.09.46-PM.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  border-radius: 35px;
  overflow: hidden;
}

.footer-container::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #30473cf1;
}

.footer-main {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}

.footer-card {
  position: absolute;
  width: 20%;
  min-height: 50px;
  top: 0;
  right: 0;
  border-radius: 0px 0px 0px 25px;
  background-color: #fff;
}

.footer-card::before {
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0px;
  left: -30px;
  background: white;
  -webkit-mask-image: radial-gradient(
    circle at right bottom,
    transparent 30px,
    black 31px
  );
  -webkit-mask-composite: destination-out;
  mask-image: radial-gradient(
    circle at left bottom,
    transparent 30px,
    black 31px
  );
  mask-composite: exclude;
}

.footer-card::after {
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50px;
  right: 0px;
  background: white;
  -webkit-mask-image: radial-gradient(
    circle at right bottom,
    transparent 30px,
    black 31px
  );
  -webkit-mask-composite: destination-out;
  mask-image: radial-gradient(
    circle at left bottom,
    transparent 30px,
    black 31px
  );
  mask-composite: exclude;
}

.footer-logo {
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer-logo img {
  width: 20%;
}

.social-icons {
  width: 100%;
  display: flex;
  justify-content: center;
}

.social-icons i {
  color: #fff;
  font-size: clamp(1.4rem, 2.6vw, 3rem);
  padding: 0 0.6em;
  cursor: pointer;
}

.footer-menu {
  width: 90%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  border-top: 1.5px solid #cccccc;
  border-bottom: 1.5px solid #cccccc;
  padding: 1rem 0;
  color: #fff;
}

.footer-menu a {
  position: relative;
  color: #fff;
  font-size: clamp(0.9rem, 2vw, 1.2rem);
  text-decoration: none;
  letter-spacing: 1.5px;
  font-weight: 300;
  padding: 10px 35px;
}

.footer-menu a:not(:last-child)::after {
  content: "|";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  font-weight: 300;
}

.footer-pera {
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.footer-pera p {
  color: #fff;
  font-size: clamp(0.8rem, 1.5vw, 1.1rem);
  letter-spacing: 1.5px;
  font-weight: 300;
}

@media (max-width: 1024px) {
  .footer-card {
    width: 30%;
  }

  .footer-menu {
    flex-direction: column;
    gap: 0;
  }

  .footer-menu a:not(:last-child)::after {
    content: none;
  }
}

@media (max-width: 768px) {
  footer {
    height: 100vh;
  }

  .footer-card {
    width: 50%;
    min-height: 30px;
    border-radius: 0px 0px 0px 45px;
  }

  .footer-card::before {
    left: -22px;
  }

  .footer-card::after {
    top: 30px;
  }

  .footer-logo img {
    width: 50%;
  }

  .social-icons i {
    padding: 0 0.4em;
  }

  .footer-menu a {
    padding: 5px 20px;
  }

  .footer-pera {
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }

  .footer-pera p {
    text-align: center;
  }
}
