* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Montserrat", sans-serif;
}

header {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}

.logo img {
  top: 20px;
  left: 0;
  height: 7.2rem;
  z-index: 100;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.menu-toggle .bar {
  height: 3px;
  width: 25px;
  background-color: #000;
  border-radius: 10px;
}

nav ul {
  display: flex;
  gap: 2rem;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: 200;
}

.hero-section {
  height: 90vh;
  width: 100%;
  padding: 10px 40px;
}

.background {
  background-image: url(https://projects.synergynexa.com/ps/wp-content/uploads/2025/07/steptodown.com557900-scaled.png);
  background-size: cover;
  background-position: start;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  border-radius: 50px;
  position: relative;
}

.background::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 20%;
  width: 100%;
  background: linear-gradient(to bottom, transparent, #02afb899);
  border-radius: 0 0 50px 50px;
  overflow: hidden;
}

.background img {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  height: 100%;
  width: auto;
}

.background h1 {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  font-size: clamp(2rem, 13vw, 10rem);
  text-transform: uppercase;
  color: #fff;
  z-index: 2;
  line-height: 0.8;
}

.pera {
  height: 30%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15rem;
}

.pera p {
  height: 100%;
  width: 100%;
  text-align: center;
  font-size: clamp(1rem, 3vw, 2rem);
  color: #000;
  padding: 10px 0 0 0;
  font-weight: 100;
}

@media (max-width: 1024px) {
  header {
    height: 15vh;
  }
  .logo img {
    position: static;
  }
  .menu-toggle {
    display: flex; /* মোবাইলে বাটনটি দেখা যাবে */
    z-index: 101;
  }

  .nav-list {
    position: absolute;
    top: 10vh;
    right: -100%; /* শুরুতে মেনুটি স্ক্রিনের বাইরে থাকবে */
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    height: 90vh;
    text-align: center;
    transition: 0.3s;
    padding-top: 50px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  }

  nav {
    display: none;
  }

  .hero-section {
    height: 60vh;
    padding: 10px 20px;
  }

  .background {
    border-radius: 40px;
  }

  .background::after {
    height: 25%;
    border-radius: 0 0 40px 40px;
  }

  .pera {
    padding: 0 5rem;
  }

  .pera p {
    font-size: clamp(0.8rem, 2vw, 1.5rem);
  }
}

/* মোবাইল ডিভাইসের জন্য (768px এর নিচে) */
@media (max-width: 767px) {
  header {
    height: 13vh;
    padding: 0 15px;
  }

  .logo img {
    position: static;
    height: 5rem;
  }

  .hero-section {
    height: 35vh;
    padding: 0px 15px;
  }

  .background {
    border-radius: 30px;
  }

  .background::after {
    height: 30%;
    border-radius: 0 0 30px 30px;
  }

  .background img {
    height: 75%;
  }

  .background h1 {
    bottom: 5px;
    font-size: clamp(2rem, 10vw, 5rem);
  }

  .pera {
    padding: 0 2rem;
  }

  .pera p {
    font-size: clamp(0.8rem, 2vw, 1.5rem);
  }
}
