.Page-Top {
  position: fixed;
  bottom: 5%;
  right: 5%;
  width: 2.1em;
  height: 2.1em;
  background-color: #02afb8;
  color: #fff;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.Page-Top i {
  font-size: 24px;
}