.testimonial-section {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}

.testimonial-section h1 {
  font-size: clamp(1.5rem, 3vw, 2.5rem);
  color: #02afb8;
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-family: restore;
}

.testimonial-swiper {
  width: 100%;
  padding: 2rem 0;
}

.swiper-slide {
  height: auto;
}

.testimonial-card img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.testimonial-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.testimonial-card {
  color: #000;
  padding: 1rem;
  border-radius: 20px;
  min-height: 280px;
}

.testimonial-pera {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.info1 {
  font-size: clamp(0.9rem, 1.5vw, 1.2rem);
  line-height: 1.3;
  font-weight: 300;
  margin-top: 20px;
}

.info {
  font-weight: 500;
}
